<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-41-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-41-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-41-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_41.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f24ff724074fcc455a0dad3ec882895$</string>
            <key>textureFileName</key>
            <string>expression_41.png</string>
        </dict>
    </dict>
</plist>
