<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-44-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,162},{54,78}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-44-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,78}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{56,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-44-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,82},{54,78}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-44-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,78}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{56,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-44-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{56,78}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{56,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-44-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{54,78}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{54,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-44-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,78}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{56,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-44-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{54,78}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{54,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_44.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ef90741536c7ee6ab4355f1734a2576$</string>
            <key>textureFileName</key>
            <string>expression_44.png</string>
        </dict>
    </dict>
</plist>
