<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-32-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,142},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{68,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{62,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{62,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,138},{68,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,72},{68,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,70},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{66,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{68,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{68,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,212},{60,68}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{60,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,208},{64,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{70,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{70,66}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-32-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{72,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_32.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daeb0eddc70b9430c9f1897694609d65$</string>
            <key>textureFileName</key>
            <string>expression_32.png</string>
        </dict>
    </dict>
</plist>
