<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-56-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{62,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-56-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-56-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,148},{60,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{60,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-56-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{62,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-56-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{62,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-56-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-56-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,66},{60,80}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{60,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-56-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-56-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{62,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_56.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e72ca67f7249b568e0a3b95763fe20$</string>
            <key>textureFileName</key>
            <string>expression_56.png</string>
        </dict>
    </dict>
</plist>
