<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-48-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,232},{76,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{76,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,156},{78,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{78,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,156},{80,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,80},{80,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{78,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{78,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,80},{80,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-48-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_48.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55fba33c8dc2d8d31c2178433fcb310d$</string>
            <key>textureFileName</key>
            <string>expression_48.png</string>
        </dict>
    </dict>
</plist>
