<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aucMar_Itemline.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,701},{96,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,5}}</string>
                <key>sourceSize</key>
                <string>{96,5}</string>
            </dict>
            <key>aucMar_arrowDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1295},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,27}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>aucMar_arrowDownAcutSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1240},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>aucMar_arrowSortDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,867},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>aucMar_arrowSortUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,867},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>aucMar_backAcutSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,921},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,39}}</string>
                <key>sourceSize</key>
                <string>{76,49}</string>
            </dict>
            <key>aucMar_bgAcutProdMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1297},{647,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,453}}</string>
                <key>sourceSize</key>
                <string>{647,453}</string>
            </dict>
            <key>aucMar_bgDentAcutSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,898},{395,149}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{395,149}}</string>
                <key>sourceSize</key>
                <string>{399,153}</string>
            </dict>
            <key>aucMar_bgDigitEditAcutSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1951},{384,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{384,47}}</string>
                <key>sourceSize</key>
                <string>{392,53}</string>
            </dict>
            <key>aucMar_bgGroupFlit.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1025},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>aucMar_bgGroupSort.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{847,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{847,36}}</string>
                <key>sourceSize</key>
                <string>{847,36}</string>
            </dict>
            <key>aucMar_bgHelpDescCont.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>aucMar_bgLightProd.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,913},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>aucMar_bgListItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,33},{863,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{863,76}}</string>
                <key>sourceSize</key>
                <string>{863,76}</string>
            </dict>
            <key>aucMar_bgListItem_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{862,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{862,76}}</string>
                <key>sourceSize</key>
                <string>{862,76}</string>
            </dict>
            <key>aucMar_bgMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{937,619}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{937,619}}</string>
                <key>sourceSize</key>
                <string>{937,619}</string>
            </dict>
            <key>aucMar_bgMainAcutSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{647,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,493}}</string>
                <key>sourceSize</key>
                <string>{647,493}</string>
            </dict>
            <key>aucMar_bgPriCtr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1873},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>aucMar_bgPriEdit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{381,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,44}}</string>
                <key>sourceSize</key>
                <string>{381,44}</string>
            </dict>
            <key>aucMar_bgPriEditBor.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,962},{331,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{331,55}}</string>
                <key>sourceSize</key>
                <string>{335,59}</string>
            </dict>
            <key>aucMar_bgProdInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1295},{340,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,95}}</string>
                <key>sourceSize</key>
                <string>{340,95}</string>
            </dict>
            <key>aucMar_bgProdNameItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,802},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>aucMar_bgSlid.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,848},{390,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,28}}</string>
                <key>sourceSize</key>
                <string>{390,28}</string>
            </dict>
            <key>aucMar_bgSliderAcutSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1873},{543,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{543,61}}</string>
                <key>sourceSize</key>
                <string>{551,67}</string>
            </dict>
            <key>aucMar_bgTabMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{854,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{854,61}}</string>
                <key>sourceSize</key>
                <string>{862,67}</string>
            </dict>
            <key>aucMar_btnDigitNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,823},{68,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{68,42}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>aucMar_btnQMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1170},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>aucMar_btnSlidBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1124},{102,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,44}}</string>
                <key>sourceSize</key>
                <string>{102,44}</string>
            </dict>
            <key>aucMar_btnTabSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,802},{181,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,59}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>aucMar_btnYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,623},{198,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,73}}</string>
                <key>sourceSize</key>
                <string>{202,77}</string>
            </dict>
            <key>aucMar_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2002},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>aucMar_helpTitleBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1324},{25,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,55}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
            <key>aucMar_icPriMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,799},{47,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,11}}</string>
                <key>sourceSize</key>
                <string>{47,11}</string>
            </dict>
            <key>aucMar_icPriPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1170},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>aucMar_icProd.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,863},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>aucMar_myCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{409,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,119}}</string>
                <key>sourceSize</key>
                <string>{409,119}</string>
            </dict>
            <key>aucMar_rdBtnOffAcutSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1381},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>aucMar_rdBtnOnAcutSell.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,867},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>aucMar_typeItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2002},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>aucMar_wordTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1399},{601,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,50}}</string>
                <key>sourceSize</key>
                <string>{601,50}</string>
            </dict>
            <key>main/auctionBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1752},{120,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,54}}</string>
                <key>sourceSize</key>
                <string>{120,54}</string>
            </dict>
            <key>main/auctionStatusBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,863},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>main/auctionStatusBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1240},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>auctionMarket_th.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80b5853bd85099c8febd0bcdb758f11f$</string>
            <key>textureFileName</key>
            <string>auctionMarket_th.png</string>
        </dict>
    </dict>
</plist>
