<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lamborghini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{190,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,110}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
            <key>actBox_1K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{189,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,114}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>actBox_20K.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1028},{189,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,114}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>actBox_3K.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,981},{189,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,114}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>actBox_5K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{189,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,114}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>actBox_90K.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,912},{189,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,114}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>actBox_Silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,682},{190,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,110}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
            <key>actBox_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{861,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,366}}</string>
                <key>sourceSize</key>
                <string>{861,366}</string>
            </dict>
            <key>actBox_bigAnim.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{489,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,198}}</string>
                <key>sourceSize</key>
                <string>{489,198}</string>
            </dict>
            <key>actBox_blackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,292},{1,1}}</string>
                <key>offset</key>
                <string>{-118.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{238,150}</string>
            </dict>
            <key>actBox_boxBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{248,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,157}}</string>
                <key>sourceSize</key>
                <string>{248,157}</string>
            </dict>
            <key>actBox_coinBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{164,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,27}}</string>
                <key>sourceSize</key>
                <string>{164,27}</string>
            </dict>
            <key>actBox_dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,792},{134,105}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{134,105}}</string>
                <key>sourceSize</key>
                <string>{200,107}</string>
            </dict>
            <key>actBox_egg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,371},{437,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,309}}</string>
                <key>sourceSize</key>
                <string>{437,309}</string>
            </dict>
            <key>actBox_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,601},{65,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>actBox_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,724},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>actBox_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,668},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>actBox_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,252},{6,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,38}}</string>
                <key>sourceSize</key>
                <string>{6,38}</string>
            </dict>
            <key>actBox_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1144},{176,174}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{176,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>actBox_longMao.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,799},{190,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,111}}</string>
                <key>sourceSize</key>
                <string>{190,111}</string>
            </dict>
            <key>actBox_notOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,252},{117,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,149}}</string>
                <key>sourceSize</key>
                <string>{117,149}</string>
            </dict>
            <key>actBox_playBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{192,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,42}}</string>
                <key>sourceSize</key>
                <string>{196,44}</string>
            </dict>
            <key>actBox_pokerMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,874},{190,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,115}}</string>
                <key>sourceSize</key>
                <string>{190,115}</string>
            </dict>
            <key>actBox_rechangeBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,755},{192,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,42}}</string>
                <key>sourceSize</key>
                <string>{196,44}</string>
            </dict>
            <key>actBox_recordMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{573,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,183}}</string>
                <key>sourceSize</key>
                <string>{573,183}</string>
            </dict>
            <key>actBox_record_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,936},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>actBox_redBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,899},{133,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,35}}</string>
                <key>sourceSize</key>
                <string>{133,35}</string>
            </dict>
            <key>actBox_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,768},{354,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,231}}</string>
                <key>sourceSize</key>
                <string>{354,231}</string>
            </dict>
            <key>actBox_tenOpenBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,682},{361,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,84}}</string>
                <key>sourceSize</key>
                <string>{361,84}</string>
            </dict>
            <key>actBox_timeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{196,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,27}}</string>
                <key>sourceSize</key>
                <string>{196,27}</string>
            </dict>
            <key>actBox_tipBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,755},{83,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,35}}</string>
                <key>sourceSize</key>
                <string>{83,35}</string>
            </dict>
            <key>actBox_tipBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,981},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>actBox_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,555},{77,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,44}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boxact_th.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e42c3af94bd3884f76ae5d8b67c14e4$</string>
            <key>textureFileName</key>
            <string>boxact_th.png</string>
        </dict>
    </dict>
</plist>
