<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chgAgn_bgHigl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{524,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,410}}</string>
                <key>sourceSize</key>
                <string>{524,410}</string>
            </dict>
            <key>chgAgn_bgMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,545},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chgAgn_bgTitle_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,71}}</string>
                <key>sourceSize</key>
                <string>{425,71}</string>
            </dict>
            <key>chgAgn_btnClose_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,981},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>chgAgn_btnClose_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,981},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>chgAgn_decCon_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,601},{378,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,366}}</string>
                <key>sourceSize</key>
                <string>{378,366}</string>
            </dict>
            <key>chgAgn_ic_cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,981},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>chgAgn_ic_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,981},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>chgAgn_rewardDesc_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{541,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,80}}</string>
                <key>sourceSize</key>
                <string>{541,80}</string>
            </dict>
            <key>chgAgn_titleDesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{389,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,54}}</string>
                <key>sourceSize</key>
                <string>{389,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chargeAgain_favMon_th.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d72ef0c4a3617d61b79ca4cf38c55bbd$</string>
            <key>textureFileName</key>
            <string>chargeAgain_favMon_th.png</string>
        </dict>
    </dict>
</plist>
