<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_1_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>match_2_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,157},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>match_3_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,63},{61,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,80}}</string>
                <key>sourceSize</key>
                <string>{61,80}</string>
            </dict>
            <key>match_award_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,290},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>match_award_content_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,396},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>match_award_desc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,126},{29,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,79}}</string>
                <key>sourceSize</key>
                <string>{29,79}</string>
            </dict>
            <key>match_beautiful_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{180,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,290}}</string>
                <key>sourceSize</key>
                <string>{180,290}</string>
            </dict>
            <key>match_black_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,126},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>match_change_apply.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,437},{42,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,65}}</string>
                <key>sourceSize</key>
                <string>{42,65}</string>
            </dict>
            <key>match_checkbox_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,396},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>match_checkbox_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,407},{21,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{21,21}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>match_club_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,318},{69,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,91}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>match_club_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,224},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>match_club_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,411},{68,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,91}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>match_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,610},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>match_dialogTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,349},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>match_exit_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,245},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>match_exit_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,184},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>match_gray_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,958},{32,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,60}}</string>
                <key>sourceSize</key>
                <string>{32,60}</string>
            </dict>
            <key>match_green_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,437},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>match_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,664},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>match_moreAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,479},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>match_moreAward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,504},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>match_rank_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,407},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>match_rank_tab_icon_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,321},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>match_rank_tab_icon_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,788},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>match_rankgift_tab_icon_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,407},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>match_rankgift_tab_icon_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,407},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>match_record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>match_record_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,403},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>match_result_apply_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,670},{29,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,58}}</string>
                <key>sourceSize</key>
                <string>{29,58}</string>
            </dict>
            <key>match_result_award_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,407},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>match_result_award_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,407},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>match_result_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,550},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>match_result_big_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,184},{221,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,249}}</string>
                <key>sourceSize</key>
                <string>{221,249}</string>
            </dict>
            <key>match_result_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,224},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>match_result_debris.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{643,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,392}}</string>
                <key>sourceSize</key>
                <string>{643,392}</string>
            </dict>
            <key>match_result_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{519,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,105}}</string>
                <key>sourceSize</key>
                <string>{519,105}</string>
            </dict>
            <key>match_result_share_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,610},{29,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,58}}</string>
                <key>sourceSize</key>
                <string>{29,58}</string>
            </dict>
            <key>match_result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,730},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>match_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,437},{43,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,32}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>match_ticket_tongyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,504},{43,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,32}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>match_time_rank_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>match_time_rank_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,437},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>match_yellow_buy_tk_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,958},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>tong_big_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,504},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>tong_small_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,407},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>match.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cfd7fc4d4427b4a13bfb0e0cbce8956$</string>
            <key>textureFileName</key>
            <string>match.png</string>
        </dict>
    </dict>
</plist>
