<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_ad1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{861,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,366}}</string>
                <key>sourceSize</key>
                <string>{861,366}</string>
            </dict>
            <key>act_ad2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{861,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,366}}</string>
                <key>sourceSize</key>
                <string>{861,366}</string>
            </dict>
            <key>act_ad3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{861,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,366}}</string>
                <key>sourceSize</key>
                <string>{861,366}</string>
            </dict>
            <key>act_ad6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{861,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,366}}</string>
                <key>sourceSize</key>
                <string>{861,366}</string>
            </dict>
            <key>newactad.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{861,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,366}}</string>
                <key>sourceSize</key>
                <string>{861,366}</string>
            </dict>
            <key>newestact_center_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,404},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>newestact_img_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,88},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>newestact_tab_btn_left_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,362},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>newestact_tab_btn_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,326},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>newestact_tab_btn_left_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,104},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>newestact_tab_btn_mid_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,284},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>newestact_tab_btn_mid_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,248},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>newestact_tab_btn_mid_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,88},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>newestact_tab_btn_right_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,206},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>newestact_tab_btn_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,170},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>newestact_tab_btn_right_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,2},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>newestact_tab_btn_split.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,2},{2,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,76}}</string>
                <key>sourceSize</key>
                <string>{2,76}</string>
            </dict>
            <key>newestact_top_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,26},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>newestact_top_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{144,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,22}}</string>
                <key>sourceSize</key>
                <string>{144,22}</string>
            </dict>
            <key>newestact_yellow_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,160},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>newestact_yellow_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,126},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newestact.png</string>
            <key>size</key>
            <string>{1474,1474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48bf63ec9c96de2b298beead0cdefbf$</string>
            <key>textureFileName</key>
            <string>newestact.png</string>
        </dict>
    </dict>
</plist>
