<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expr_catgy2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,148},{72,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,292},{76,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{76,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,136},{62,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{64,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{64,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,222},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,368},{50,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{50,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{60,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{60,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{56,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{56,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{62,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,326},{52,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{52,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{80,74}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,70},{64,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{64,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{64,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{64,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,270},{54,78}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,200},{68,78}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expr_catgy2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{66,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{66,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>payExpr_catgy2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e87b212f7bc4d9ef5fd53c17b76ace5b$</string>
            <key>textureFileName</key>
            <string>payExpr_catgy2.png</string>
        </dict>
    </dict>
</plist>
