<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>register_reward_background_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,370},{178,186}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{178,186}}</string>
                <key>sourceSize</key>
                <string>{188,186}</string>
            </dict>
            <key>register_reward_background_over_texture.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,228},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>register_reward_background_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,228},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>register_reward_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{326,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,78}}</string>
                <key>sourceSize</key>
                <string>{326,78}</string>
            </dict>
            <key>register_reward_button_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,108},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>register_reward_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{326,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,78}}</string>
                <key>sourceSize</key>
                <string>{326,78}</string>
            </dict>
            <key>register_reward_dark_reward_zone_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{224,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,270}}</string>
                <key>sourceSize</key>
                <string>{224,270}</string>
            </dict>
            <key>register_reward_days_dark_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>register_reward_days_light_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,228},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>register_reward_ligth_reward_zone_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,270}}</string>
                <key>sourceSize</key>
                <string>{224,270}</string>
            </dict>
            <key>register_reward_title_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{370,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,62}}</string>
                <key>sourceSize</key>
                <string>{370,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>register_reward.png</string>
            <key>size</key>
            <string>{550,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0919dd9b51895fa80f50a947465b16c5$</string>
            <key>textureFileName</key>
            <string>register_reward.png</string>
        </dict>
    </dict>
</plist>
