<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reward/signIn_itemTypeChips.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,326},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>reward/signIn_itemTypeExpression.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,408},{68,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{68,48}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>reward/signIn_itemTypeGoldSeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{79,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>reward/signIn_itemTypeSliverSeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>signIn_blockMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,478},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>signIn_blockTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{25,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,55}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
            <key>signIn_qMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,395},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>signIn_rewBg_canSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,218},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>signIn_rewBg_canSignV.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>signIn_rewBg_signed.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,110},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>signIn_rewBg_signedV.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>signIn_rewBg_toSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>signIn_rewBg_toSignV.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign_in.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d89cb9968bea532063866cc2525fd9f$</string>
            <key>textureFileName</key>
            <string>sign_in.png</string>
        </dict>
    </dict>
</plist>
