<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>songkran_wheel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,410}}</string>
                <key>sourceSize</key>
                <string>{800,410}</string>
            </dict>
            <key>songkran_wheel_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{500,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,250}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>songkran_wheel_btn_big_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,196},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>songkran_wheel_btn_big_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,136},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>songkran_wheel_btn_small_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,70},{214,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,64}}</string>
                <key>sourceSize</key>
                <string>{214,66}</string>
            </dict>
            <key>songkran_wheel_btn_small_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{214,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,66}}</string>
                <key>sourceSize</key>
                <string>{214,66}</string>
            </dict>
            <key>songkran_wheel_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,256},{220,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,138}}</string>
                <key>sourceSize</key>
                <string>{220,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>songkran_wheel_texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2451182894ad90ebce696f69b53593de$</string>
            <key>textureFileName</key>
            <string>songkran_wheel_texture.png</string>
        </dict>
    </dict>
</plist>
