<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>float_poker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,710},{46,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>float_poker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,644},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>float_poker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,644},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>float_poker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,702},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>float_poker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,773},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>game_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{184,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,87}}</string>
                <key>sourceSize</key>
                <string>{184,87}</string>
            </dict>
            <key>login_game_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{852,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,640}}</string>
                <key>sourceSize</key>
                <string>{852,640}</string>
            </dict>
            <key>login_rotary_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,752},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>update_ProLines.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{21,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,8}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>update_Prolight.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,830},{17,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,8}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>update_proBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,830},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>update_proBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,830},{34,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,12}}</string>
                <key>sourceSize</key>
                <string>{34,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>update_texture.png</string>
            <key>size</key>
            <string>{856,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54c66bafbfc4653376a99470ae0bfd05$</string>
            <key>textureFileName</key>
            <string>update_texture.png</string>
        </dict>
    </dict>
</plist>
