<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>userInfo_bagBank_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,362},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>userInfo_bagBank_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,473},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>userInfo_bagGift_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,436},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>userInfo_bagGift_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,399},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>userInfo_bagItemGift_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{102,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>userInfo_bagItemGift_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{102,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,93}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>userInfo_bagMain_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,362},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>userInfo_bagMain_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,272},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>userInfo_bagPack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,461},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>userInfo_bagPack_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,461},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>userInfo_bankDigitInputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,308},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>userInfo_bankNoPsw_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{198,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,66}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>userInfo_bankNoPsw_pres.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{198,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,66}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>userInfo_bankPswExist_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,204},{188,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,66}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>userInfo_bankPswExist_pres.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{188,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,66}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>userInfo_bgPropItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{228,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{228,200}}</string>
                <key>sourceSize</key>
                <string>{228,202}</string>
            </dict>
            <key>userInfo_bgTabSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,66}}</string>
                <key>sourceSize</key>
                <string>{231,66}</string>
            </dict>
            <key>userInfo_blockBottomDent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,335},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>userInfo_blockDent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,199},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>userInfo_blockDent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,160},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>userInfo_blockTitleDent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,272},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>userInfo_btnBankDelete.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,464},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>userInfo_btnBankDigit.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,46},{23,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,44}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>userInfo_btnBlue_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,195},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>userInfo_btnBlue_pres.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,153},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>userInfo_btnDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,462},{25,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{25,48}</string>
            </dict>
            <key>userInfo_btnGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,462},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>userInfo_btnNickNameEdit.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,399},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>userInfo_coinChip.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>userInfo_coinMatch.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,112},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>userInfo_coinPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,71},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>userInfo_expBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,142},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>userInfo_expBarFiller.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,272},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>userInfo_flagMoreReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,70},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>userInfo_helpQMark_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,236},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>userInfo_helpQMark_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,204},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>userInfo_icCamera.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,110},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>userInfo_icExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,335},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>userInfo_icProp.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,243},{83,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,60}}</string>
                <key>sourceSize</key>
                <string>{87,62}</string>
            </dict>
            <key>userInfo_matchClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,369},{69,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,91}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>userInfo_matchClub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,370},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>userInfo_matchClub_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,368},{68,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,91}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>userInfo_matchMedal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,274},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>userInfo_matchMedal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,295},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>userInfo_matchMedal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,305},{61,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,80}}</string>
                <key>sourceSize</key>
                <string>{61,80}</string>
            </dict>
            <key>userInfo_splitLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,206},{18,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,4}}</string>
                <key>sourceSize</key>
                <string>{18,4}</string>
            </dict>
            <key>userInfo_tabSel_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,474},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>userInfo_tabSel_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,464},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>userInfo_tabSel_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>userInfo_titleBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,278},{25,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,55}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>user_info.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf3096a92efb5a53cfd84a552cf562d0$</string>
            <key>textureFileName</key>
            <string>user_info.png</string>
        </dict>
    </dict>
</plist>
