<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheel_bgBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,777},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>wheel_bgDent.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,799},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>wheel_bgDent_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{785,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{785,122}}</string>
                <key>sourceSize</key>
                <string>{785,122}</string>
            </dict>
            <key>wheel_bgRotary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,400},{396,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,396}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>wheel_bgTitleWord.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,400},{323,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,56}}</string>
                <key>sourceSize</key>
                <string>{323,56}</string>
            </dict>
            <key>wheel_bg_decoration1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,818},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>wheel_bg_decoration2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,740},{45,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,82}}</string>
                <key>sourceSize</key>
                <string>{45,82}</string>
            </dict>
            <key>wheel_bg_decoration3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,830},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>wheel_btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,814},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>wheel_btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,610},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>wheel_btnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,786},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>wheel_canotPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,621},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>wheel_decPalyStageBot.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{451,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,84}}</string>
                <key>sourceSize</key>
                <string>{451,84}</string>
            </dict>
            <key>wheel_decPlayIndex.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,124},{182,231}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{182,231}}</string>
                <key>sourceSize</key>
                <string>{278,277}</string>
            </dict>
            <key>wheel_decStageTray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,797},{459,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,50}}</string>
                <key>sourceSize</key>
                <string>{459,50}</string>
            </dict>
            <key>wheel_dentLightPop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,124},{600,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,275}}</string>
                <key>sourceSize</key>
                <string>{600,275}</string>
            </dict>
            <key>wheel_fg_decoration1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,724},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>wheel_fg_decoration2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,698},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>wheel_fg_decoration3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,751},{58,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>wheel_fg_decoration4.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,453},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>wheel_fg_decoration5.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,557},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>wheel_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,610},{87,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,65}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>wheel_reward_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,642},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>wheel_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,704},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>wheel_reward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,777},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>wheel_reward_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,729},{80,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>wheel_reward_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,777},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>wheel_reward_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,777},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>wheel_reward_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,777},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>wheel_reward_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,704},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>wheel_reward_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,799},{79,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>wheel_rotate_purple_slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,483},{126,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,165}}</string>
                <key>sourceSize</key>
                <string>{126,165}</string>
            </dict>
            <key>wheel_rotate_yellow_slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,356},{126,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,165}}</string>
                <key>sourceSize</key>
                <string>{126,165}</string>
            </dict>
            <key>wheel_share_popup_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,400},{220,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,111}}</string>
                <key>sourceSize</key>
                <string>{220,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel_texture.png</string>
            <key>size</key>
            <string>{872,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1514f0db769e3dea5ad18a586abc0c5$</string>
            <key>textureFileName</key>
            <string>wheel_texture.png</string>
        </dict>
    </dict>
</plist>
