<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,524},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>bottom_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,6},{4,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,107}}</string>
                <key>sourceSize</key>
                <string>{4,107}</string>
            </dict>
            <key>bottom_sub_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,580},{20,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,60}}</string>
                <key>sourceSize</key>
                <string>{20,60}</string>
            </dict>
            <key>bottom_sub_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,752},{20,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,60}}</string>
                <key>sourceSize</key>
                <string>{20,60}</string>
            </dict>
            <key>choose_room_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,706},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,580},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,816},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,816},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,816},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,628},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_level_tab_bar_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,580},{39,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,69}}</string>
                <key>sourceSize</key>
                <string>{39,69}</string>
            </dict>
            <key>choose_room_level_tab_bar_bg_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,195},{8,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,69}}</string>
                <key>sourceSize</key>
                <string>{8,69}</string>
            </dict>
            <key>choose_room_level_tab_bar_bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{39,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,69}}</string>
                <key>sourceSize</key>
                <string>{39,69}</string>
            </dict>
            <key>choose_room_level_tab_bar_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>choose_room_nor_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,874},{144,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,186}</string>
            </dict>
            <key>choose_room_player_limit_tab_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,6},{74,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,240}}</string>
                <key>sourceSize</key>
                <string>{74,240}</string>
            </dict>
            <key>choose_room_player_limit_tab_bar_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,13},{78,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,134}}</string>
                <key>sourceSize</key>
                <string>{78,134}</string>
            </dict>
            <key>choose_room_pro_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,870},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>choose_room_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,2}}</string>
                <key>sourceSize</key>
                <string>{1000,2}</string>
            </dict>
            <key>daily_bonus_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,580},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daily_mission_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,580},{89,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,81}}</string>
                <key>sourceSize</key>
                <string>{89,81}</string>
            </dict>
            <key>friend_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,752},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>friend_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,752},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>invite_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,928},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>invite_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,886},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>left_chip_stack.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,580},{162,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,70}}</string>
                <key>sourceSize</key>
                <string>{162,70}</string>
            </dict>
            <key>login-feedback-down-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,706},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>login-feedback-up-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,706},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>login_btn_blue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>login_btn_fb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,816},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>login_btn_fb_reward_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,814},{58,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>login_btn_green_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,151},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>login_btn_guest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,816},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>login_btn_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,580},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>lucky_wheel_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,671},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>main_hall_bottom_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,870},{20,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,90}}</string>
                <key>sourceSize</key>
                <string>{20,90}</string>
            </dict>
            <key>main_hall_bottom_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,13},{2,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,104}}</string>
                <key>sourceSize</key>
                <string>{2,104}</string>
            </dict>
            <key>main_hall_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{572,636}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{572,636}}</string>
                <key>sourceSize</key>
                <string>{572,640}</string>
            </dict>
            <key>message_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,651},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>message_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,980},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>more_chip_brick_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,418},{168,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,208}}</string>
                <key>sourceSize</key>
                <string>{170,208}</string>
            </dict>
            <key>more_chip_panel_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>more_chip_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,93},{4,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,132}}</string>
                <key>sourceSize</key>
                <string>{4,132}</string>
            </dict>
            <key>newest_activity_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,662},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>nor_room_brick_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,354},{168,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,208}}</string>
                <key>sourceSize</key>
                <string>{170,208}</string>
            </dict>
            <key>panel_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,82},{2,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{2,64}}</string>
                <key>sourceSize</key>
                <string>{2,70}</string>
            </dict>
            <key>play_now_brick_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,208},{168,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,208}}</string>
                <key>sourceSize</key>
                <string>{170,208}</string>
            </dict>
            <key>player_count_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,768},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>player_count_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,99},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>pro_room_brick_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,184},{168,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,208}}</string>
                <key>sourceSize</key>
                <string>{170,208}</string>
            </dict>
            <key>ranking_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,752},{60,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>ranking_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,752},{60,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>right_chip_stack.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,82},{236,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{238,100}</string>
            </dict>
            <key>search_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,768},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>setting_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>setting_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,928},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>store_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,125},{24,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,110}}</string>
                <key>sourceSize</key>
                <string>{26,110}</string>
            </dict>
            <key>store_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,99},{24,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,110}}</string>
                <key>sourceSize</key>
                <string>{26,110}</string>
            </dict>
            <key>top_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,816},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>top_help_btn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,642},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>top_return_btn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,119},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>top_search_room_btn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,159},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>top_store_btn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,768},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>user_avatar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,6},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_texture.png</string>
            <key>size</key>
            <string>{1022,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b2bbfed0fa135ca97ca53e3f1f27b93$</string>
            <key>textureFileName</key>
            <string>hall_texture.png</string>
        </dict>
    </dict>
</plist>
