<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{479,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,347}}</string>
                <key>sourceSize</key>
                <string>{479,347}</string>
            </dict>
            <key>slot_bet_chip1_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,800},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>slot_bet_chip1_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,733},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>slot_bet_chip2_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,769},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>slot_bet_chip2_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,775},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>slot_bet_chip3_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,762},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>slot_bet_chip3_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,788},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>slot_bet_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,623},{31,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,63}}</string>
                <key>sourceSize</key>
                <string>{31,63}</string>
            </dict>
            <key>slot_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{408,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,68}}</string>
                <key>sourceSize</key>
                <string>{408,68}</string>
            </dict>
            <key>slot_checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,649},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>slot_checkbox_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,762},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>slot_checkbox_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,729},{38,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>slot_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,438},{25,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,168}}</string>
                <key>sourceSize</key>
                <string>{25,168}</string>
            </dict>
            <key>slot_content_divider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{9,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,165}}</string>
                <key>sourceSize</key>
                <string>{9,165}</string>
            </dict>
            <key>slot_content_light1_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{453,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,41}}</string>
                <key>sourceSize</key>
                <string>{453,41}</string>
            </dict>
            <key>slot_content_light2_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{434,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,22}}</string>
                <key>sourceSize</key>
                <string>{434,22}</string>
            </dict>
            <key>slot_content_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,412},{59,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,162}}</string>
                <key>sourceSize</key>
                <string>{59,162}</string>
            </dict>
            <key>slot_content_white_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,823},{5,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,28}}</string>
                <key>sourceSize</key>
                <string>{5,28}</string>
            </dict>
            <key>slot_content_yellow_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{435,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,43}}</string>
                <key>sourceSize</key>
                <string>{435,43}</string>
            </dict>
            <key>slot_content_yellow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,471},{13,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,43}}</string>
                <key>sourceSize</key>
                <string>{13,43}</string>
            </dict>
            <key>slot_element_any.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,587},{81,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,34}}</string>
                <key>sourceSize</key>
                <string>{81,34}</string>
            </dict>
            <key>slot_element_banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,320},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>slot_element_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,400},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>slot_element_blueberry.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,505},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>slot_element_cherry.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,420},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>slot_element_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,649},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>slot_element_gold7.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,722},{74,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>slot_element_lemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,328},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>slot_element_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,244},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>slot_element_red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,699},{74,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>slot_element_same.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,576},{59,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>slot_element_watermelon.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,623},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>slot_flashbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{324,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,48}}</string>
                <key>sourceSize</key>
                <string>{324,48}</string>
            </dict>
            <key>slot_flashbar_big_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,406},{325,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,51}}</string>
                <key>sourceSize</key>
                <string>{325,51}</string>
            </dict>
            <key>slot_flashbar_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{280,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,20}}</string>
                <key>sourceSize</key>
                <string>{280,20}</string>
            </dict>
            <key>slot_flashbar_small_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,406},{321,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{321,43}}</string>
                <key>sourceSize</key>
                <string>{325,51}</string>
            </dict>
            <key>slot_handler_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,775},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>slot_handler_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,722},{38,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,81}}</string>
                <key>sourceSize</key>
                <string>{38,81}</string>
            </dict>
            <key>slot_handler_light_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,787},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>slot_handler_shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,688},{30,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,81}}</string>
                <key>sourceSize</key>
                <string>{30,81}</string>
            </dict>
            <key>slot_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,402}}</string>
                <key>sourceSize</key>
                <string>{612,402}</string>
            </dict>
            <key>slot_help_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,823},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>slot_help_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,818},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>slot_help_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,787},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>slot_help_reward_big_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,755},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>slot_help_reward_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,284},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>slot_help_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{222,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,19}}</string>
                <key>sourceSize</key>
                <string>{222,19}</string>
            </dict>
            <key>slot_help_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,438},{172,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,23}}</string>
                <key>sourceSize</key>
                <string>{172,23}</string>
            </dict>
            <key>slot_help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,406},{212,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,33}}</string>
                <key>sourceSize</key>
                <string>{212,33}</string>
            </dict>
            <key>slot_side_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,471},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>slot_side_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,820},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>slot_side_btn_icon_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,811},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>slot_side_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,612},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>slot_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{240,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,51}}</string>
                <key>sourceSize</key>
                <string>{240,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_texture.png</string>
            <key>size</key>
            <string>{857,857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aff1acc9d5957573a8822ddd7fbb157c:67c43aa14d084a3cf0331a8a6bbf58e8:e89064a1a63b8c0bb27da8d315ec333a$</string>
            <key>textureFileName</key>
            <string>slot_texture.png</string>
        </dict>
    </dict>
</plist>
