<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>bottom_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,986},{4,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,107}}</string>
                <key>sourceSize</key>
                <string>{4,107}</string>
            </dict>
            <key>bottom_sub_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,400},{20,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,60}}</string>
                <key>sourceSize</key>
                <string>{20,60}</string>
            </dict>
            <key>bottom_sub_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,983},{20,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,60}}</string>
                <key>sourceSize</key>
                <string>{20,60}</string>
            </dict>
            <key>choose_room_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,422},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,212},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,610},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,798},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_chip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,400},{186,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,162}}</string>
                <key>sourceSize</key>
                <string>{186,162}</string>
            </dict>
            <key>choose_room_level_tab_bar_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,912},{39,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,69}}</string>
                <key>sourceSize</key>
                <string>{39,69}</string>
            </dict>
            <key>choose_room_level_tab_bar_bg_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,992},{8,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,69}}</string>
                <key>sourceSize</key>
                <string>{8,69}</string>
            </dict>
            <key>choose_room_level_tab_bar_bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,828},{39,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,69}}</string>
                <key>sourceSize</key>
                <string>{39,69}</string>
            </dict>
            <key>choose_room_level_tab_bar_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,664},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>choose_room_nor_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,640},{144,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,186}</string>
            </dict>
            <key>choose_room_player_limit_tab_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,422},{74,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,240}}</string>
                <key>sourceSize</key>
                <string>{74,240}</string>
            </dict>
            <key>choose_room_player_limit_tab_bar_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,240},{78,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,134}}</string>
                <key>sourceSize</key>
                <string>{78,134}</string>
            </dict>
            <key>choose_room_pro_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,588},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>choose_room_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{1000,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,2}}</string>
                <key>sourceSize</key>
                <string>{1000,2}</string>
            </dict>
            <key>daily_bonus_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,908},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>daily_mission_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,806},{89,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,81}}</string>
                <key>sourceSize</key>
                <string>{89,81}</string>
            </dict>
            <key>friend_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,810},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>friend_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,828},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>invite_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,588},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>invite_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,680},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>left_chip_stack.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,734},{162,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,70}}</string>
                <key>sourceSize</key>
                <string>{162,70}</string>
            </dict>
            <key>login-feedback-down-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,866},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>login-feedback-up-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,889},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>login_btn_blue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,866},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>login_btn_fb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,869},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>login_btn_fb_reward_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,806},{58,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>login_btn_green_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,772},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>login_btn_guest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,923},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>login_btn_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,984},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>lucky_wheel_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,810},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>main_hall_bottom_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,961},{20,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,90}}</string>
                <key>sourceSize</key>
                <string>{20,90}</string>
            </dict>
            <key>main_hall_bottom_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{2,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,104}}</string>
                <key>sourceSize</key>
                <string>{2,104}</string>
            </dict>
            <key>main_hall_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,636}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{572,636}}</string>
                <key>sourceSize</key>
                <string>{572,640}</string>
            </dict>
            <key>message_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,880},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>message_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,977},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>more_chip_brick_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{168,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,208}}</string>
                <key>sourceSize</key>
                <string>{170,208}</string>
            </dict>
            <key>more_chip_panel_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,869},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>more_chip_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{4,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,132}}</string>
                <key>sourceSize</key>
                <string>{4,132}</string>
            </dict>
            <key>newest_activity_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,822},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>nor_room_brick_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,640},{168,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,208}}</string>
                <key>sourceSize</key>
                <string>{170,208}</string>
            </dict>
            <key>panel_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1018},{2,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{2,64}}</string>
                <key>sourceSize</key>
                <string>{2,70}</string>
            </dict>
            <key>play_now_brick_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,212},{168,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,208}}</string>
                <key>sourceSize</key>
                <string>{170,208}</string>
            </dict>
            <key>player_count_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,983},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>player_count_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,640},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>pro_room_brick_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{168,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,208}}</string>
                <key>sourceSize</key>
                <string>{170,208}</string>
            </dict>
            <key>ranking_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,862},{60,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>ranking_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,914},{60,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>right_chip_stack.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{236,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{238,100}</string>
            </dict>
            <key>search_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,868},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>setting_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,880},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>setting_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,932},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>store_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,240},{24,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,110}}</string>
                <key>sourceSize</key>
                <string>{26,110}</string>
            </dict>
            <key>store_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{24,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,110}}</string>
                <key>sourceSize</key>
                <string>{26,110}</string>
            </dict>
            <key>top_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,893},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>top_help_btn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,962},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>top_return_btn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,828},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>top_search_room_btn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,932},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>top_store_btn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,966},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>tutorial_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,376},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{24,64}</string>
            </dict>
            <key>tutorial_btn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,912},{46,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,1}}</string>
                <key>sourceSize</key>
                <string>{46,1}</string>
            </dict>
            <key>tutorial_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,979},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{24,64}</string>
            </dict>
            <key>tutorial_dot_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1002},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>tutorial_dot_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1002},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>user_avatar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,212},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_texture.png</string>
            <key>size</key>
            <string>{1022,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11beb357733d17b85bd12a47bea1c09c:00a5bab7a0ab5cc13c3280598e5606c7:5670f556e617130017e2922183d3469c$</string>
            <key>textureFileName</key>
            <string>hall_texture.png</string>
        </dict>
    </dict>
</plist>
