<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>register_reward_background_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{178,186}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{178,186}}</string>
                <key>sourceSize</key>
                <string>{188,186}</string>
            </dict>
            <key>register_reward_background_over_texture.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,546},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>register_reward_background_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,330},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>register_reward_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,474},{326,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,78}}</string>
                <key>sourceSize</key>
                <string>{326,78}</string>
            </dict>
            <key>register_reward_button_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,330},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>register_reward_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{326,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,78}}</string>
                <key>sourceSize</key>
                <string>{326,78}</string>
            </dict>
            <key>register_reward_dark_reward_zone_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,270}}</string>
                <key>sourceSize</key>
                <string>{224,270}</string>
            </dict>
            <key>register_reward_days_dark_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>register_reward_days_light_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,546},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>register_reward_ligth_reward_zone_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{224,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,270}}</string>
                <key>sourceSize</key>
                <string>{224,270}</string>
            </dict>
            <key>register_reward_title_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{470,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{470,84}}</string>
                <key>sourceSize</key>
                <string>{472,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>register_reward.png</string>
            <key>size</key>
            <string>{582,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff52bf6c139bb955867cb954c613752:7f5a8d50b5ba355e7ee43932947ee7b2:f51c5c72e7ed11032b7492d7f5f372e9$</string>
            <key>textureFileName</key>
            <string>register_reward.png</string>
        </dict>
    </dict>
</plist>
