<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>invtAnim_tex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,580},{284,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{284,58}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{290,68}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{290,68}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{292,68}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{292,68}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{292,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{292,70}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{292,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{292,70}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{294,70}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{292,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{292,70}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{292,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{292,70}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,294},{284,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{284,60}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{284,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{284,62}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{286,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{286,62}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{286,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{286,64}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{288,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{288,64}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,294},{290,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{290,66}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,296},{288,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{288,66}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>invtAnim_tex_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{290,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{290,66}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inviteBushBarAnim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8665cb16e9850b3b3b027c114f19c027$</string>
            <key>textureFileName</key>
            <string>inviteBushBarAnim.png</string>
        </dict>
    </dict>
</plist>
