<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chgFir_bgHigl.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,105},{598,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,410}}</string>
                <key>sourceSize</key>
                <string>{598,410}</string>
            </dict>
            <key>chgFir_bgMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,59},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chgFir_bgPref.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{129,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,101}}</string>
                <key>sourceSize</key>
                <string>{129,101}</string>
            </dict>
            <key>chgFir_bgTitle_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{427,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,74}}</string>
                <key>sourceSize</key>
                <string>{427,74}</string>
            </dict>
            <key>chgFir_btnClose_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,39},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>chgFir_btnClose_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>chgFir_icRwdBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{384,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,358}}</string>
                <key>sourceSize</key>
                <string>{384,358}</string>
            </dict>
            <key>chgFir_prefDesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{80,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{80,55}</string>
            </dict>
            <key>chgFir_titleDesc_bankRupt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{729,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,35}}</string>
                <key>sourceSize</key>
                <string>{729,35}</string>
            </dict>
            <key>chgFir_titleDesc_chipLess.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,105},{618,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,35}}</string>
                <key>sourceSize</key>
                <string>{618,35}</string>
            </dict>
            <key>chgFir_titleDesc_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{530,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,35}}</string>
                <key>sourceSize</key>
                <string>{530,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chargeFirst_fav_th.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e3dbf14ef45aa97c2a4fe015375326$</string>
            <key>textureFileName</key>
            <string>chargeFirst_fav_th.png</string>
        </dict>
    </dict>
</plist>
