<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cor_big_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,149},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>cor_chanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,619},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>cor_chat_drak.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,458},{12,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,62}}</string>
                <key>sourceSize</key>
                <string>{12,62}</string>
            </dict>
            <key>cor_close_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,446},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>cor_close_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,383},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>cor_coin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,650},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>cor_cor_blackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,348}}</string>
                <key>sourceSize</key>
                <string>{568,348}</string>
            </dict>
            <key>cor_dangdang.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,620},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cor_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,949},{59,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,221}}</string>
                <key>sourceSize</key>
                <string>{59,221}</string>
            </dict>
            <key>cor_friend_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,725},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cor_friend_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,704},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cor_gold_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,458},{79,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,75}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>cor_gold_seed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>cor_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,188},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>cor_head_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>cor_infomation_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,689},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cor_infomation_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,688},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cor_ingot.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,303},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>cor_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,718},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>cor_litter_quick.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,610},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>cor_lock_can_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,572},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>cor_lock_cannot_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,572},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>cor_mini_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{36,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,3}}</string>
                <key>sourceSize</key>
                <string>{36,3}</string>
            </dict>
            <key>cor_my_cor_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,686},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cor_my_cor_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,650},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cor_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,601},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>cor_plant.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,149},{124,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,78}}</string>
                <key>sourceSize</key>
                <string>{124,78}</string>
            </dict>
            <key>cor_quick_potion.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,230},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>cor_record_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,649},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cor_recrod_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,647},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>cor_send_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,686},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>cor_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,382},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>cor_sliver_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,535},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>cor_sliver_seed.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,330},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>cor_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,280},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>cor_small_bg_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,572},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>cor_small_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,572},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>cor_small_title_ex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>cor_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{47,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,15}}</string>
                <key>sourceSize</key>
                <string>{47,15}</string>
            </dict>
            <key>cor_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,509},{193,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,61}}</string>
                <key>sourceSize</key>
                <string>{193,61}</string>
            </dict>
            <key>cor_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{243,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,78}}</string>
                <key>sourceSize</key>
                <string>{243,78}</string>
            </dict>
            <key>cor_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>cor_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,229},{99,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,72}}</string>
                <key>sourceSize</key>
                <string>{99,72}</string>
            </dict>
            <key>cor_words_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,610},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>farm_ex.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9eacf72f725b7357321d047035294ba$</string>
            <key>textureFileName</key>
            <string>farm_ex.png</string>
        </dict>
    </dict>
</plist>
