<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grab_add_dealer_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,156},{35,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{35,24}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>grab_dealer_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{128,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{128,35}}</string>
                <key>sourceSize</key>
                <string>{134,41}</string>
            </dict>
            <key>grab_dealer_room_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{104,45}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{104,45}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>grab_dealer_room_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,129},{104,45}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{104,45}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>grab_dealer_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,171}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,171}}</string>
                <key>sourceSize</key>
                <string>{150,181}</string>
            </dict>
            <key>grab_dealer_tips_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{125,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{125,60}}</string>
                <key>sourceSize</key>
                <string>{131,62}</string>
            </dict>
            <key>grab_tip_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,235},{1143,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1143,84}}</string>
                <key>sourceSize</key>
                <string>{1143,84}</string>
            </dict>
            <key>grab_yugao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,129},{25,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>grab_yugao_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{89,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,2}}</string>
                <key>sourceSize</key>
                <string>{89,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grabDealerRoom.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b01d34ab0d89a404b62cab6e97a2d3$</string>
            <key>textureFileName</key>
            <string>grabDealerRoom.png</string>
        </dict>
    </dict>
</plist>
