<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>payGuide_TitleBlPay.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,341},{159,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,37}}</string>
                <key>sourceSize</key>
                <string>{159,37}</string>
            </dict>
            <key>payGuide_blockDentWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>payGuide_btnBleL.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,193},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>payGuide_btnGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,501},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>payGuide_btnGrnL.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,945},{32,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,72}}</string>
                <key>sourceSize</key>
                <string>{32,72}</string>
            </dict>
            <key>payGuide_chipLess.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,380},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>payGuide_chipMulti.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,193},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>payGuide_closeBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>payGuide_colorMapBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{29,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,343}}</string>
                <key>sourceSize</key>
                <string>{29,343}</string>
            </dict>
            <key>payGuide_dividLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{33,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,3}}</string>
                <key>sourceSize</key>
                <string>{33,3}</string>
            </dict>
            <key>payGuide_flagBP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{180,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,41}}</string>
                <key>sourceSize</key>
                <string>{180,41}</string>
            </dict>
            <key>payGuide_flagGP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,37}}</string>
                <key>sourceSize</key>
                <string>{220,37}</string>
            </dict>
            <key>payGuide_flagPay.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,41},{150,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,164}}</string>
                <key>sourceSize</key>
                <string>{150,164}</string>
            </dict>
            <key>payGuide_icMatch_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,945},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>payGuide_lineTh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>payGuide_tagRecomm.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,945},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>payGuide_titleBgFirCharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,347},{596,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,40}}</string>
                <key>sourceSize</key>
                <string>{596,40}</string>
            </dict>
            <key>payGuide_titleBgGP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{659,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,45}}</string>
                <key>sourceSize</key>
                <string>{659,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pay_guide.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff92426b6b0828b602d9578d7f58ed7$</string>
            <key>textureFileName</key>
            <string>pay_guide.png</string>
        </dict>
    </dict>
</plist>
