<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prom_barBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,351},{678,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,58}}</string>
                <key>sourceSize</key>
                <string>{678,58}</string>
            </dict>
            <key>prom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{739,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,470}}</string>
                <key>sourceSize</key>
                <string>{739,470}</string>
            </dict>
            <key>prom_bgAppDownGuide.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1031},{462,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,321}}</string>
                <key>sourceSize</key>
                <string>{462,321}</string>
            </dict>
            <key>prom_bgAwardDesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{554,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,385}}</string>
                <key>sourceSize</key>
                <string>{554,385}</string>
            </dict>
            <key>prom_bgAwardDescTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{494,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,118}}</string>
                <key>sourceSize</key>
                <string>{494,118}</string>
            </dict>
            <key>prom_bgChip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{208,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,384}}</string>
                <key>sourceSize</key>
                <string>{208,384}</string>
            </dict>
            <key>prom_btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,985},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>prom_btnGlePly.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,182},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{167,61}</string>
            </dict>
            <key>prom_btnGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,92},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>prom_btnGrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>prom_btnShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,574},{178,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,78}}</string>
                <key>sourceSize</key>
                <string>{178,78}</string>
            </dict>
            <key>prom_curtLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{76,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,438}}</string>
                <key>sourceSize</key>
                <string>{76,438}</string>
            </dict>
            <key>prom_diam.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,985},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>prom_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1285},{193,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,139}}</string>
                <key>sourceSize</key>
                <string>{193,139}</string>
            </dict>
            <key>prom_gameAppIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>prom_gameDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,654},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>prom_gameDownGP.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1356},{130,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,119}}</string>
                <key>sourceSize</key>
                <string>{130,119}</string>
            </dict>
            <key>prom_giftBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,654},{76,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,101}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>prom_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,985},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>prom_icGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,474},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>prom_imGetAllReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1146},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>prom_rewardChips.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1068},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>prom_rewardSGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,948},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>prom_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{650,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,85}}</string>
                <key>sourceSize</key>
                <string>{650,85}</string>
            </dict>
            <key>prom_unGetAllReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1094},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>prom_unactiveChip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,774},{209,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,384}}</string>
                <key>sourceSize</key>
                <string>{209,384}</string>
            </dict>
            <key>prom_unactiveChip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,388},{209,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,384}}</string>
                <key>sourceSize</key>
                <string>{209,384}</string>
            </dict>
            <key>prom_unactiveChip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{209,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,384}}</string>
                <key>sourceSize</key>
                <string>{209,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>promot.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ce2801ecfa3ddb9f6591d13d003b20d$</string>
            <key>textureFileName</key>
            <string>promot.png</string>
        </dict>
    </dict>
</plist>
