<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{479,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,347}}</string>
                <key>sourceSize</key>
                <string>{479,347}</string>
            </dict>
            <key>slot_bet_chip1_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,733},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>slot_bet_chip1_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,699},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>slot_bet_chip2_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,755},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>slot_bet_chip2_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,626},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>slot_bet_chip3_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,795},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>slot_bet_chip3_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,758},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>slot_bet_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,755},{31,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,63}}</string>
                <key>sourceSize</key>
                <string>{31,63}</string>
            </dict>
            <key>slot_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{408,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,68}}</string>
                <key>sourceSize</key>
                <string>{408,68}</string>
            </dict>
            <key>slot_checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,357},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>slot_checkbox_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,787},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>slot_checkbox_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,244},{38,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>slot_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,412},{25,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,168}}</string>
                <key>sourceSize</key>
                <string>{25,168}</string>
            </dict>
            <key>slot_content_divider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{9,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,165}}</string>
                <key>sourceSize</key>
                <string>{9,165}</string>
            </dict>
            <key>slot_content_light1_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{453,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,41}}</string>
                <key>sourceSize</key>
                <string>{453,41}</string>
            </dict>
            <key>slot_content_light2_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{434,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,22}}</string>
                <key>sourceSize</key>
                <string>{434,22}</string>
            </dict>
            <key>slot_content_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,438},{59,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,162}}</string>
                <key>sourceSize</key>
                <string>{59,162}</string>
            </dict>
            <key>slot_content_white_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{5,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,28}}</string>
                <key>sourceSize</key>
                <string>{5,28}</string>
            </dict>
            <key>slot_content_yellow_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{435,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,43}}</string>
                <key>sourceSize</key>
                <string>{435,43}</string>
            </dict>
            <key>slot_content_yellow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,682},{13,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,43}}</string>
                <key>sourceSize</key>
                <string>{13,43}</string>
            </dict>
            <key>slot_element_any.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,663},{81,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,34}}</string>
                <key>sourceSize</key>
                <string>{81,34}</string>
            </dict>
            <key>slot_element_banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,602},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>slot_element_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,699},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>slot_element_blueberry.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,505},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>slot_element_cherry.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,420},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>slot_element_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,284},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>slot_element_gold7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,494},{74,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>slot_element_lemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,328},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>slot_element_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,587},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>slot_element_red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,418},{74,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>slot_element_same.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,682},{59,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>slot_element_watermelon.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,682},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>slot_flashbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{324,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,48}}</string>
                <key>sourceSize</key>
                <string>{324,48}</string>
            </dict>
            <key>slot_flashbar_big_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,406},{325,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,51}}</string>
                <key>sourceSize</key>
                <string>{325,51}</string>
            </dict>
            <key>slot_flashbar_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{280,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,20}}</string>
                <key>sourceSize</key>
                <string>{280,20}</string>
            </dict>
            <key>slot_flashbar_small_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,406},{321,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{321,43}}</string>
                <key>sourceSize</key>
                <string>{325,51}</string>
            </dict>
            <key>slot_handler_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,788},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>slot_handler_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,755},{38,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,81}}</string>
                <key>sourceSize</key>
                <string>{38,81}</string>
            </dict>
            <key>slot_handler_light_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,787},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>slot_handler_shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,729},{30,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,81}}</string>
                <key>sourceSize</key>
                <string>{30,81}</string>
            </dict>
            <key>slot_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,402}}</string>
                <key>sourceSize</key>
                <string>{612,402}</string>
            </dict>
            <key>slot_help_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,814},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>slot_help_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,812},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>slot_help_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,244},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>slot_help_reward_big_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,657},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>slot_help_reward_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,193},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>slot_help_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,406},{273,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,20}}</string>
                <key>sourceSize</key>
                <string>{273,20}</string>
            </dict>
            <key>slot_help_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{189,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,24}}</string>
                <key>sourceSize</key>
                <string>{189,24}</string>
            </dict>
            <key>slot_help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,412},{212,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,33}}</string>
                <key>sourceSize</key>
                <string>{212,33}</string>
            </dict>
            <key>slot_side_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,570},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>slot_side_btn_icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,795},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>slot_side_btn_icon_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,814},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>slot_side_btn_icon_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,814},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>slot_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{240,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,51}}</string>
                <key>sourceSize</key>
                <string>{240,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot_texture.png</string>
            <key>size</key>
            <string>{861,861}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77555d0b321dc4da88013fabafb7b50f$</string>
            <key>textureFileName</key>
            <string>slot_texture.png</string>
        </dict>
    </dict>
</plist>
